.my_card {
  width: 400px;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0 0 4px #ccc;
  padding: 0 24px;
}
.my_card h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}
.my_card p {
  font-size: 14px;
}
.my_card.praise {
  /* .storybook/preview-head.htmlで読み込んでいるGoogle Fontsを使用 */
  font-family: 'Praise', cursive;
}
